$color-black: #000000;
$color-white: #ffffff;
$color-accent: #FF6336;
$color-gray: #cccccc;

$color-bg-accent: #FF9C7D;
$color-bg-secondary: #FFF8E4;
$color-bg-light-blue: #C9E8F2;
$color-bg-light-brown: #DABC98;
$color-bg-gray: #EEEEEE;